{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEND</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  <link rel="stylesheet" href="{% static 'css/loginn.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/panel.css' %}">
  <link rel="stylesheet" href="{% static 'css/shop.css' %}">
</head>

<body>
  
    <div class="sidebar">
      <div class="hamburg_bar">
        <div class="hamburg_ele hamburg_ele1"></div>
        <div class="hamburg_ele hamburg_ele2"></div>
        <div class="hamburg_ele hamburg_ele3"></div>
      </div>
      <!-- 140000 -->
      <div class="main_logo"><a href="{% url 'home' %}"><img src="{% static 'img/logo-short.svg' %}" alt="logo"></a></div>
      <div class="side_content">
        <div class="categories">
          <ul class="side_categories">
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li>REPAIR</li>
            <li>SHOP</li>
            <li>MY PAGE</li>
          </ul>
          <ul class="side_sign">

            <li class="login"><a href="{% url 'login' %}">LOGIN</a></li>
            <li class="signin"><a href="{% url 'signin' %}">SIGNIN</a></li>
          </ul>
        </div>
        <div class="quick">
          <ul class="quick_menu">
            <li><a href="{% url 'home' %}"><img src="{% static 'img/home.svg' %}" alt="home"></a></li>
            <li><img src="{% static 'img/create-order.svg' %}" alt="order"></a></li>
            <li><a href="{% url 'shop' %}"><img src="{% static 'img/shopping-bag.svg' %}" alt="shop"></a></li>
            <li><a href=""><img src="{% static  'img/mypage.svg' %}" alt="mypage"></a></li>
          </ul>
          <span class="insta_icon"> <img src="{% static 'img/instagram.svg' %}" alt="instagram"></span>
        </div>
        </div>
      </div>
      
      

    {% block content %}
    {% endblock %}
  <script src="{% static 'js/hamburg.js' %}"></script>
  
</body>

</html>