{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEND</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/panel.css' %}">
  <link rel="stylesheet" href="{% static 'css/shop.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  
</head>

<body>
  <div class="main__content">
    <div class="hamburg_bar">
      <div class="hamburg_ele hamburg_ele1"></div>
      <div class="hamburg_ele hamburg_ele2"></div>
      <div class="hamburg_ele hamburg_ele3"></div>
    </div>
    <div class="sidebar">
  
      <!-- 140000 -->
      <div class="sidebar__main_logo"><a href="{% url 'home' %}"><img src="{% static 'img/logo-short.svg' %}"
            alt="logo"></a></div>
      <div class="categories">
        <div class="side_content">
          <ul class="side_categories">
            <li><a href="{% url 'home' %}"><img src="{% static 'img/home-text.svg' %}" alt="home-text"> </a></li>
            <li><a href=""><img src="{% static 'img/mend-text.svg' %}" alt="mend-text"> </a></li>
            <li><a href="{% url 'shop' %}"><img src="{% static 'img/shop-text.svg' %}" alt="shop-text"> </a></li>
            <li><a href=""><img src="{% static 'img/mypage-text.svg' %}" alt="mypage-text"> </a></li>
          </ul>

          <ul class="side_sign">
            <li class="login"><a href=""><img src="{% static 'img/text-login.svg' %}" alt=""></a></li>
            <li class="signin"><a href=""><img src="{% static 'img/text-signin.svg' %}" alt=""></a></li>
          </ul>
      
        </div>
        <div class="quick">
          <ul class="quick_menu">
            <li class="quick_home"><a href="{% url 'home' %}"><img src="{% static 'img/home.svg' %}" alt="home"></a></li>
            <li class="quick_order"><a href=""><img src="{% static 'img/create-order.svg' %}" alt="order"></a></li>
            <li class="quick_shop"><a href="{% url 'shop' %}"><img src="{% static 'img/shopping-bag.svg' %}" alt="shop"></a>
            </li>
            <li class="quick_mypage"><a href=""><img src="{% static  'img/mypage.svg' %}" alt="mypage"></a></li>
          </ul>
          <span class="insta_icon"> <img src="{% static 'img/instagram.svg' %}" alt="instagram"></span>
        </div>
      </div>
    </div>
    
    {% block content %}
    {% endblock %}
  </div>

    
  <script src="{% static 'js/hamburg.js' %}"></script>
  
</body>

</html>