.detail_main{
  display: grid;
  grid-template-rows: 1fr 12fr; 
  margin-left: 85px;
}
.detail_header{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.detail_header img{
  position: relative;
  left:45px;
}
.detail_content{
  flex: 1 1 920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.header_shop{
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
}
.header_wish{
  border:1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
}
.header_cart{
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
}
.detail_img img{
  object-fit: fill;
  width: 910px;
  height: 100vh;
}
.detail_info{
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.info_option button{
  width: 100%;
  background-color: white;
  border: 1px solid black;
  height: 68px;
  text-align: left;
  padding-left: 35px;
  padding-top: 20px;
  padding-right: 38px;
  display: flex;
  justify-content: space-between;
}