*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
}
.main_logo{
  margin-top: 50px;
  margin-bottom: 60px;
  width: 37px;
  height: 48px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right:1px solid black;
  width: 67px;
  height: 100vh;
  position: fixed;
  background-color: white;
}
.hamburg_bar{
  margin-top:34px;
}
.hamburg_ele{
  width: 25px;
  height: 1px;
  margin-bottom: 6px;
  background-color: black;
}
.menu_bar{
  list-style-type: none;
}
.menu_bar li{
  margin-bottom: 15px;
  width: 25px;
  height: 26px;
}
.insta_icon{
  /* bottom: 30px; */
    position: absolute;
    bottom: 20px;
}
.main{
  /* width: 100%; */
  height: 100vh;
}
.content_back1{
  height: 100%;
  background-image: url('/static/img/back1.png');
  background-size: cover;
}
.content_back2{
  height: 100%;
  background-image: url('/static/img/back2.png');
}
.content_back3{
  height: 100%;
  background-image: url('/static/img/back3.png');
}
.quick_button{
  position: absolute;
  top: 550px;
  right: 137px;
  width: 350px;
  height: 50px;
}


