.login_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login_form{
  display: flex;
  position: relative;
  flex-direction: column;
  /* justify-content: center; */
  top: 20%;
  align-items: center;
}

.checkbox{
  width: 13px;
  height: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login_status{
  position: relative;
  right: 110px;
}
.login_btn_container{
  display: flex;
  width: 380px;
  height: 50px;
}
.logform_login_btn{
  width: 190px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  font-size: 20px;
}
.logform_signin_btn{
  width: 190px;
  padding: 10px;
  border: 1px solid black;
  text-align: right;
  font-size: 20px;
}
.login_form .main_logo{
  margin-bottom: 20px;
}