.panel_bar{
    position: fixed;
    top: 40%;
    right: 50px;
    z-index: 1;
}
.panelBtn {
    background-color: rgb(0, 0, 0);
    width: 0.75vw;
    height: 0.75vw;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    margin: 0px 0px 1.11111vw;
}
.panelBtn1{
    background-color: aliceblue;
}