.container{
  display: grid;
  grid-template-columns: 1fr;
}
.sidebar__main_logo{
  position: absolute;
  top: 115px;
  width: 37px;
  height: 48px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right:1px solid rgb(194, 186, 186);
  width: 86px;
  height: 100vh;
  position: fixed;
  background-color: white;
  transition: 0.5s;
}
.side_content{
  display: flex;
  position: absolute;
  top: 250px;
  width: 100%;
}
.hamburg_bar{
  position: absolute;
  top: 34px;
  left: 30px;
}
.hamburg_ele{
  width: 25px;
  height: 1px;
  margin-bottom: 6px;
  background-color: black;
}
.quick_menu{
  list-style-type: none;
  margin-bottom: 500px;
}
.quick_menu li{
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid transparent;
}
.quick_home{
  width: 22px;
  left: 30px;
}
.quick_order{
  width: 19px;
  left:33px;
}
.quick_shop{
  width: 28px;
  left: 31px;
}
.quick_mypage{
  left:31px;
  width: 28px;
}
.categories{
  display: none;
  left: 20px;
}
.side_categories{
  margin-bottom: 300px;
}
.side_categories li{
  margin-bottom: 20px;
}
.menu_bar li:hover{
  border-bottom: 2px solid black;
}
.insta_icon{
  position: relative;
  bottom: 34px;
  left: 31px;
}
li{
  list-style-type: none;
}
