.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right:1px solid rgb(194, 186, 186);
  width: 273px;
  left: -187px;
  height: 100vh;
  position: fixed;
  background-color: white;
  transition: 0.3s;
}
.sidebar__main_logo{
  position: absolute;
  top: 110px;
  left: 213px;
}
.categories{
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 240px;
  width: 100%;
  margin-bottom: 300px;
}
.side_content{
  position: relative;
  left: 35px;
  transition: 0.5s;
}
.hamburg_bar{
  position: fixed;
  z-index: 100;
  top: 34px;
  left: 30px;
  margin-bottom: 80px;
}
.hamburg_ele{
  width: 25px;
  height: 1px;
  margin-bottom: 6px;
  background-color: black;
}
.quick{
  position: relative;
  right: 30px;
  top: -3px;
  transition: 0.5s;
}
.quick_menu{
  list-style-type: none;
}
.quick_menu li{
  margin-bottom: 27px;
  position: relative;
  border-bottom: 1px solid transparent;
}
.quick_home{
  width: 22px;
}
.quick_order{
  width: 19px;
  left:4px; 
}
.quick_shop{
  width: 28px;
  left: 1px;
}
.quick_mypage{
    left: 3px;
}
.side_categories li{
  margin-bottom: 30px;
}
.side_categories a{
  text-decoration: none;
  color: black;
}
.side_sign{
  margin-top:200px ;
}
.side_sign .login{
  margin-bottom: 30px;
}
.menu_bar li:hover{
  border-bottom: 2px solid black;
}
.insta_icon{
  position: relative;
  top: 420px;
}
li{
  list-style-type: none;
}
