{% extends 'sidebar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
  <div class="detail_main">
    <header class="detail_header">
      <div class="header_shop"><a href=" {% url 'shop' %}"><img src="{% static 'img/shop-text.svg' %}" alt=""></a></div>
      <div class="header_wish"><img src="{% static 'img/wish.svg' %}" alt=""></div>
      <div class="header_cart"><a href=""><img src="{% static 'img/cart.svg' %}" alt=""></a></div>
    </header>
    <div class="detail_content">
    
    </div>
  </div>
  {% endblock %}
</body>
</html>