{% extends 'sidebar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEND</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">/
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" /> -->
</head>
<body>
    <div class="container">
      
      {% block content %}
      <div class="main">
        <div class="panel_bar">
          <div class="panelBtn1 panelBtn"></div>
          <div class="panelBtn2 panelBtn"></div>
          <div class="panelBtn3 panelBtn"></div>
        </div>
        <div class="content_back1">
          <button class="quick_button">Repair</button>
        </div>
        <div class="content_back2"><span class="item_disc"></span></div>
        <div class="content_back3"><span class="item_disc"></span></div>
      </div>
    </div>
    
    <script src="{% static 'js/scrollto.js' %}"></script>
  {% endblock %}
</body>
</html>