{% extends 'sidebar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  {% block content %}
    <div class="signin_container">
      <div class="detail_img">
        <!-- 사진이 들어갑니다 사진 -->
        
      </div>
      
      <form action "" class="signin_form">
          <div class="main_logo"><img src="{% static 'img/logo-short.svg' %}" alt="logo"></div>
          <input type="text" class="user_name" placeholder="username*">
          <input type="email" class="email" placeholder="email*">
          <input type="password" class="password" placeholder="password*">
          <input type="password" class="confirm_password" placeholder="password*">
          <input type="text" class="phonenumber" placeholder="phone*">
          <input type="submit" class="signin_btn" value="Sign in">
    
      </form>
    </div>
  {% endblock %}
</body>
</html>